<!-- Default home page -->
<style type="text/css">
body {
  background: #464f5a;
}
</style>
<div class="container">
  <h1>Funding example</h1>
  <p></p>
  <p></p>
  <div id="goal-meter-1" class="goal-meter">

			<div class="goal-meter-track">
				<div class="goal-meter-goal">
					<div class="goal-meter-amount"> 90000 </div>
				</div>
				<div class="goal-meter-progress">
					<div class="goal-meter-amount">33000 </div>
				</div>
			</div>

		</div>


</div>
