<!-- Default home page -->
<style type="text/css">
body {
  background: #353b44;
}
</style>
<div class="container">
  <div id="goal-meter-1" class="goal-meter">

			<div class="goal-meter-track">
				<div class="goal-meter-goal">
					<div class="goal-meter-amount"> 100 </div>
				</div>
				<div class="goal-meter-progress">
					<div class="goal-meter-amount">0 </div>
				</div>
			</div>

		</div>


</div>
